<% layout('layouts/dashboard') -%>
<div class="card mb-4">
    <div class="card-body">
        <h3><b>#ALL TASKS <span class="badge badge-pill badge-primary" style="position: absolute; right: 20px;"><%=all.length%> </span></b> </h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%=(done.length/all.length)*100%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%=Math.floor((done.length/all.length)*100)%>%</div>
          </div>
    </div>
</div>



<div class="card-columns">
    <% for(let task of all) {%>
    <!-- CARD START -->
    <div class="card" style="max-width: 30rem; min-width: 16rem; display: inline-block">
        <div class="card-body">
            <h5 class="card-title"> <%=task.name%>  </h5>
            <ul class="list-group list-group-flush">
                <% if(task.note && (task.note != ' ')) {%>
                <li class="list-group-item"> <%=task.note%> </li>
                <% } %>
                <% if(task.date) {%>
                <li class="list-group-item">
                    <% let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
                       let customdate = `${Number(task.date.slice(8))} ${months[Number(task.date.slice(5, 7)) -1]} ${task.date.slice(0, 4)}`
                    %> 
                    <%=customdate%> 
                </li>
                <% } %>  
                <% if(task.group) {%>
                <li class="list-group-item"><a href="/user/<%=user._id%>/group?g=<%=task.group%>" class="<%=task.group%> ">#<%=task.group%> </a></li>
                <% } %>  
            </ul>
            <form action="/user/<%=user._id%>/did/<%=task._id%>" method="POST" class="d-inline">
                <% if(task.isDone == false) {%>
                <button href="" class="btn btn-outline-primary" style="width: 18%;">
                    <svg width="1.4em" height="1.1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>
                <% } else if (task.isDone == true) {%>
                <button href="" class="btn btn-primary" style="width: 18%;">
                    <svg width="1.4em" height="1.1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor"
                        style="text-align: center;" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>
                <% } %>
            </form>
            <a type="button" style="width: 58%;" class="btn btn-outline-primary" data-toggle="modal"
                data-target="#<%=task._id%>" data-whatever="@mdo">Edit</a>
            <form action="/user/<%=user._id%>/rm/<%=task._id%>?_method=delete" method="POST" class="d-inline">
                <button type="submit" class="btn btn-outline-primary" style="width: 18%;">
                    <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <!-- EDITING A TASK WITH MODEL -->
    <div class="modal fade" id="<%=task._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/user/<%=user._id%>/edit/<%=task._id%>?_method=put" method="post" novalidate class="validated-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit task </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="task-name" class="col-form-label">Task name</label>
                            <input type="text" class="form-control" id="task-name" name="task[name]" value="<%=task.name%>" required>
                            <div class="invalid-feedback">
                                Task name is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="task-note" class="coltask-noteform-label">Notes</label>
                            <textarea class="form-control" id="task-note" name="task[note]"
                                cols="1"><%=task.note%></textarea>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-form-label">Group</label>
                            <select type="text" class="form-control" id="group" name="task[group]"
                                value="<%=task.group%>">
                                <option class="form-control" value="personal">Personal</option>
                                <option class="form-control" value="work">Work</option>
                                <option class="form-control" value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date" class="col-form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="task[date]" value="<%=task.date%>" required>
                            <div class="invalid-feedback">
                                Task date is required
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn  btn-block btn-warning">Update a task</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- !CARD END -->
    <% } %>
</div>